html {
    background: white;
    /* font-family: 'Domine'; */
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    /* font-variant: small-caps; */
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 1.0em;
}

a {
    color: #589;
    text-decoration: none;
}

ul {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 1.0em;
    list-style: circle;
    margin-left: 1.0em;
}

li {
    margin-bottom: 0.4em;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* The whole page container, nothing goes outside of this */
.page {
    margin: 1em;
    max-width: 60em;
}
